* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Rubik;
  overflow-x: hidden;
}


nav{
display:flex;
justify-content: space-around;
padding:20px 0;
color:rgb(255, 254, 254);

align-items: center;
}
nav.logo{
letter-spacing: 3px;
}
nav ul{
display:flex;
list-style: none;
width:40%;
justify-content: space-between;
}
nav ul li a {
  color:rgb(255, 254, 254);
  text-decoration: none;
  font-size: 1em;
}

.btn{
border-radius: 40px;
}
/*Hamburger */
.menu-bars{
display:none;
flex-direction: column;
height:20px;
justify-content: space-between;
position:relative;
}
.menu-bars input{
position: absolute;
width:40px;
height:28px;
left:-5px;
top:-3px;
opacity: 0;
cursor:pointer;
z-index: 2;
}

.menu-bars span{
display:block;
width:28px;
height:3px;
background-color:rgb(255, 254, 254);
border-radius: 3px;
transition: all 0.3s;
}

.menu-bars span:nth-child(2){
transform-origin: 0 0 ;
}

.menu-bars span:nth-child(4){
  transform-origin: 0 100% ;
  }

.menu-bars input:checked ~ span:nth-child(2){
background-color: white;
transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px,0); 
  }

  .menu-bars input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0); 
    }


@media only screen and (max-width: 768px){
nav ul{
width:50%;
}

}

@media only screen and (max-width: 576px){
  .menu-bars{
  display:flex;
  }
  nav ul{
  position:absolute;
  right:0;
  top:0;
  width:80%;
  height:100vh;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: rgb(126, 43, 204);
  z-index: -1;
  transform: translateX(100%);
  transition: all 1s;
  }
  }
  nav ul.slide{
    transform: translateX(0);
  }

  #logoPhoto{
    height: 20%;
    width: 20%;
  }



/* slideshow css */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  width: 100%;
 }

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#aboutUsHeader{
  text-align: center;
}

#aboutUsDiv{
  background-color:#A0522D
}

#companyLogo{
  max-width: 100%;
  position: relative;
  margin: auto;
  width: 100%;
}

/* Mobile styles */
@media (max-width: 768px) {
  #description1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  #description2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  #description3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  #description4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  #description1 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    clear: both;
    transition: color 0.3s ease-in-out;
  }

  #description1:hover {
    color: #A0522D;
  }

  #description2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    clear: both;
    transition: color 0.3s ease-in-out;
  }

  #description2:hover {
    color: #A0522D;;
  }

  #description3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    clear: both;
    transition: color 0.3s ease-in-out;
  }

  #description3:hover {
    color: #A0522D;;
  }

  #description4 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: left;
    clear: both;
    transition: color 0.3s ease-in-out;
  }

  #description4:hover {
    color:#A0522D;;
  }
}

#bookWithUsHeader{
  text-align: center;
}
/* 
#boarderAbout{
  border-width:3px;
   border-style:solid;
    border-color:#FF0000; 
} */

span { 
  line-height: 200%;
  padding-left: 10%;
  padding-right: 10%;
} 

#companyLogo{
  height: 100%;
  width: 100%;
  float: left;
  padding-left: 2%;
  margin: 0 auto;
  padding: 10px 0;
}

nav ul li a:hover{
  color: white;
  opacity:0.5 ;
}

a:hover{
  color: beige;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* flip cards css */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
  float: left;
  background-color: gold;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-front {
 
  color: black;
  z-index: 1;
  background-color: #A0522D;
}

.flip-card-front img, .flip-card-back img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.flip-card-back {
  background-color:#A0522D;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back p {
  margin: 10px;
  text-align: left;
  font-size: 16px;
}

.flip-card-back h3 {
  margin: 10px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
 
}

.accommodation-type {
  margin: 10px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.accommodation-image {
  height: 200px;
  object-fit: cover;
}

.activity-name {
  margin: 10px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.activity-image {
  height: 200px;
  object-fit: cover;
}
